
[data-theme="light"] {
  --header-background-color: #ffffff;
  --header-border-color: #e5e8ea;
  --header-menu-item-color: #231f20;
  --header-theme-switch-background-color: #cccccc;
  --header-theme-switch-before-background-color: #ffffff;
  --header-theme-switch-checked-background-color: #2196f3;

  --bg-color: white;
  --main-content-text-color: #231f20;
}

[data-theme="dark"] {

  --hue-color: 140;
  --title-color: #FFFFFF;
  --first-color: #F47155;
  --second-color: #D9D9D9;
  --terc-color: #949497; ;

  --icon-heart-color: #EF4D7B;

  --bg-color: #000001;


}

